{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row text center" id="blog">
<div class="col-md-12">
<h3 class="head">BLOG</h3>

</div>
</div>
<br>
<div class="container-fluid">
<div class="row" id="layout">
<h4 id="italic">Experience the Art of Caring</h4>
  <div class="column" id="layout">
  <img src="{% static 'eyeb.webp' %}" height="400" width="100%"/>
  <h3 class="head">The Perfect Eyebrows</h3>
  <p id="font">Yes, the makeup is important for every woman, but the eyebrows though tend to be overlooked 
  for far too often. As these are the centerpieces of our faces, this kind of obstruction is not 
  right. In this post, I’m gonna teach you how you can use makeup and shape your eyebrows the best 
  and the fastest!</p>
  </div>
  <div class="column" id="layout">
  <img src="{% static 'nim.jpg' %}" height="400" width="100%"/>
  <h3 class="head">Best Haircare Tips</h3>
  <p id="font">When I was recently preparing my little sister Janette for her prom night, she 
  stunned me with one interesting phrase. When I was just about to begin the makeup process and 
  apply the first layer of powder and lipstick.</p>
  </div>
  <div class="column" id="layout">
  <img src="{% static 'pi2.jpg' %}" height="400" width="100%"/>
  <h3 class="head">When You're 25</h3>
  <p id="font">Every age has its own set of essential tips and tools for taking some good care of one's 
  visual beauty. This means that while the age of 25 may be all about that everlasting freshness 
  of youth and not too many cosmetics required</p>
  </div>
</div>
<div class="row" id="lay">
  <div class="column" id="lay">
  <img src="{% static 'mak2.jpg' %}" height="400" width="100%"/>
  <h3 class="head">Following This Advice<br> 
  Will Help Your Skin</h3>
  <p id="font">Among the things that are of concern for most of women of any age are makeup 
  products, haircare products and of course facial care products. In fact, the more 
  cosmetics and makeup you use on a daily basis, </p>
  </div>
  <div class="column" id="lay">
  <img src="{% static 'eyesh.jpg' %}" height="400" width="100%"/>
  <h3 class="head">The Most Trending<br> 
  Eye Shades Color</h3>
  <p id="font">When we’re talking about the makeup and colors, only two things come up as vital 
  the color of your lipstick and the color of your eye shades. </p>
  </div>
  <div class="column" id="lay">
  <img src="{% static 'hac.jpg' %}" height="400" width="100%"/>
  <h3 class="head">Pairing Your Makeup <br>
  with your Garments</h3>
  <p id="font">Well, it’s a conventional wisdom for any woman, that making sure that your makeup 
  goes well with what clothes you have on is essential.</p>
  </div>
</div>
</div>
<br>
<div class="row" id="occa">
<h3 class="head">Preparing You for Any Occasion</h3>
<p id="font">Making sure that you always look your best is absolutely essential for any woman</p>
</div>
{% endblock %}