#header{ background-color:#ff0066; color:#000000; }
#nav ul{ margin-top:10px;}
#nav a{color:#000000; font-family:Monotype Corsiva; font-size:30px; }
#nav .dropdown-menu a{background-color:#ff0066; color:#000000;}
#nav .dropdown-menu a:hover{ color:rgb(255, 179, 209); }
#hov:hover {color:rgb(255, 0, 102); }
#hove:hover {color:rgb(255, 204, 224); }
.wel{ font-family:Palatino Linotypen;text-align:center; font-size:45px; }
.wel:hover{color:rgb(255, 0, 102); }
#footer{ background-color:rgb(255, 204, 224); text-align:center; color:#000000; }
#foot{ background-color:rgb(255, 0, 102); text-align:center; color:#000000; }
.item img{ height:600px !important; width:100%; background-color:#ffffff; font-family:Elephant; font-size:45px; color:#000000; font-weight:bold;}
.carousel-caption h3{  padding:10px; font-size:53px; font-weight:bold; color:#000000;}
.carousel-control.left{ background-image:none !important;}
 .item .head{ font-family:Monotype Corsiva; font-size:33px; font-weight:bold;}
 .head{ font-family:Monotype Corsiva; font-size:43px; font-weight:bold;}
#servicediv img{ border:5px dotted #e6f2ff; padding:20px; border-radius:100px; height:200px; width:200px;}
#servicediv{ padding:60px;}
#servicediv .col-md-4{ border-top:1px solid grey; border-right:1px solid grey; padding:30px;  background-color:rgb(255, 230, 255); }
#font{ font-family:Palatino Linotype; font-size:25px; }
.prof{ font-family:Monotype Corsiva; font-size:43px; font-weight:bold; color:#ff0066;}
#our{ font-family:Palatino Linotype; font-size:35px; color:#0000f; }
#footer{ padding-top:40px;}
#multi { background-image:url("leaf.jpg");height:300px; width:100%;  background-color:rgb(230, 242, 255); background-size:100% 300px;}
#leaf{ padding:20px;}
#cent{ background-color:rgb(230, 242, 255); padding:30px;  }
#form{background-color:rgb(230, 242, 255); }
#btn{ padding:30px;}
#footer{ padding:40px;}
#port{ padding-top:40px;}
.work{ font-family:}
#hair:hover{ color:rgb(0, 0, 255);}
#est:hover{ color:rgb(0, 153, 0);}
#four{ font-family:Palatino Linotype; font-size:25px; font-weight:bold;  }
#four:hover{ color:rgb(0, 153, 0); }
#gly{ background-color:rgb(230,242,255);  padding-top:20px;text-align:center;}
.workicon{font-size:50px; background-color:#ffccff; border-radius:100px; padding:30px; }
.stud{ padding-top:40px;}
#back{ background-image:url('fb2.jpg'); height:400px; width:100%;  padding-top:30px; padding-bottom:30px; text-align:center; background-color:rgb(230, 242, 255); background-size:100%} 
#rec{text-align:center; font-family:Monotype Corsiva; font-size:50px; font-weight:bold;}
#rec:hover{ color:rgb(0, 153, 0);}
#rect{ padding-top:40px; padding-bottom:50px;}
#view{ padding-top:30px; padding-bottom:50px;}
#fas{ font-family:Monotype Corsiva; font-size:30px;  font-weight:bold; }
#fas:hover{color:rgb(0, 0, 255);}
#car{  text-align:center; background-color:#ffccff; padding-top:30px; padding-bottom:30px;  }
#high{ background-image:url('wal.jpg'); height:400px; width:100%;  padding-top:30px; padding-bottom:30px; text-align:center; background-color:rgb(230, 242, 255); background-size:100%} 
#team{ text-align:center; padding-top:30px; padding-bottom:30px; }
#beauty{ font-family:Monotype Corsiva; font-size:40px;  font-weight:bold; color:color:#00004d; padding-top:40px; }
#beat{font-family:Palatino Linotype; font-size:25px; }
#meet{ padding:30px;}
#italic{ font-family:French Script MT; font-size:40px; color:#cc0066; }
#exe{ padding-top:20px; text-align:center;}
.code{ background-color:#ffccff;  padding-top:40px;}
#parm{  background-image:url('bac.jpg'); height:400px; width:100%;padding:130px;   text-align: center;}
#see{ background-image:url('ser.jpg'); height:400px;  width:100%;padding:130px;  text-align: center; }
#seee{ background-image:url('nnn.jpg'); height:500px;  width:100%; padding:250px;  text-align: center; }
#contact{ font-family:Monotype Corsiva; font-size:43px; font-weight:bold; text-align:center; padding-top:40; }
#second{background-image:url('ss3.jpg');  width:100%; padding:60px;   text-align: center;}
.about{ font-family:Monotype Corsiva; font-size:43px; font-weight:bold; text-align:center; padding-top:30px; }
#abo{ font-family:Palatino Linotype; font-size:35px; text-align:center; padding-top:30px; }
#app{ font-family:Palatino Linotype; font-size:35px; text-align:center; background-color:#ffcccc; }	
#form{ background-image:url('ff.jpg'); height:400px; width:100%; padding:130px;   text-align:center; }
#pack{ font-family:Palatino Linotype; font-size:25px; text-align:center;  padding-top:10px; }
#skin{ background-image:url('we.jpg'); height:400px; width:100%;padding:150px; text-align:center;}
#career{ background-image:url('62.jpg'); height:500px; width:100%;padding:150px; text-align:center;}
.natural{ font-family:Monotype Corsiva; font-size:43px; font-weight:bold; text-align:center; padding:20px; }
#face{ text-align:center; padding:40px; }
#glow{ font-family:Palatino Linotype; font-size:25px; font-weight:bold; color:3385ff; }
.appointment{ text-align:center; padding:40px; }
#mehndi{ background-image:url('mw.jpg'); height:360px; width:100%;padding:130px; text-align:center;}
#make{ background-image:url('we.jpg'); height:400px; width:100%;padding:130px; text-align:center; }
#button{ font-family:Palatino Linotype; font-size:20px; font-weight:bold; text-align:center; }
#butt{ font-family:Palatino Linotype; font-size:25px; font-weight:bold; text-align:center; padding-top:60px; }
#pak{ text-align:center; padding-top:300px; background-color:#ccffe6; }
#ok{ font-size:10px; background-color:#ffffff; border-radius:50px; color:00cc66; }
#remove{ font-size:10px; background-color:#ffffff; border-radius:50px; color:#ff1a1a; }
.mehndipack{ font-family:Monotype Corsiva; font-size:43px; font-weight:bold; text-align:center; padding-top:30px; }
#flip{ background-color:#ffffcc; }
#feed{ padding-top:30px; }
#fcent{ padding-bottom:30px; text-align:center; }
#gallery{ background-image:url('pro.jpg'); height:400px; width:100%;padding:200px; text-align:center; }
#color{ background-color:#ffcccc;  text-align:center; padding-top:30px; }
#container{ font-size:50px; font-weight:bold; text-align:center; padding-left:10px; }
#layout{ padding:20px; background-color:#ffccee;  text-align:center; }
#lay{ padding:20px; background-color:#ccffcc;  text-align:center; }
#occa{ background-image:url('bcb.jpg'); height:400px; width:100%;  padding:150px; text-align:center; }
#blog{ background-image:url('blogg.jpg'); height:500px; width:100%;  padding:150px; text-align:center; }
.pagination{ text-align:center; padding-left:650px; }
#hairstyle{ background-image:url('hgall.jpg');  width:100%;padding:200px; text-align:center; }
.stunning{ font-family:Monotype Corsiva; font-size:43px; color:#ffffff; font-weight:bold; text-align:center; padding-top:20px; }
#lux{ font-family:Palatino Linotype; font-size:25px; color:#ffffff; text-align:center; }
#style{ padding-top:30px; padding-bottom:40px; }
#pedicure{ background-image:url('ped.jpg'); height:400px; width:100%;padding:200px; text-align:center;}
#bback{ background-image:url('bdb.jpg'); height:500px; width:100%;padding:200px; text-align:center; }
.gor{ font-family:Monotype Corsiva; font-size:43px; color:#0000ff; }
#image{font-family:Palatino Linotype; font-size:43px; color:#0000ff; font-weight:bold; text-align:center;}
#package{ text-align:center; padding-top:30px; padding-bottom:30px; } 
#bservice{  text-align:center; padding-top:30px; padding-bottom:30px; background-color:#ff8080; }
#facial{ padding-top:30px; background-color:#ffffcc; padding-bottom:100px; }  
#col{ background-color:#cce6ff; }
#product{ background-image:url('makeup.jpg'); height:400px; width:100%; padding:200px; text-align:center; }
#discount{ background-image:url('fp1.jpg'); height:450px; width:100%; padding:200px; text-align:center; }
#brush{ padding-top:30px; background-color:#ffe6cc; padding-bottom:30px; }
#offer{ background-image:url('sb3.jpg'); height:400px; width:100%; padding:150px; text-align:center; }
#disc{  padding:10px; text-align:center;  }
#student{ background-color:#e0ebeb; text-align:center; padding-top:30px; padding-bottom:30px;}
.workicons{font-size:30px; background-color:#ffccff; border-radius:80px; padding:10px; }
.prod:hover{ background-color:rgb(255, 117, 26); }
#faqs{ background-image:url('faq.jpg'); height:300px; width:100%; padding:200px; text-align:center; }
#QAS{ font-family:Monotype Corsiva; font-size:33px; color:#0000ff; font-weight:bold; text-align:center; }
#question{ font-family:Palatino Linotype; font-size:25px; color:#ff6666; }
#answer{ font-family:Palatino Linotype; font-size:25px; color:#0066ff; }
#serviceback{ background-image:url('ddddd.jpg'); height:600px; width:100%; }
#fon{ font-family:Palatino Linotype; font-size:20px; color:000000; }
#create input[type=email]{color:black;font-family:Arial Rounded MT; width:900px;font-size:16px;border-radius:5px;padding:4px;padding-left:20px;margin-bottom:8px;}
create input[type=text]{color:black;font-family:Arial Rounded MT; width:900px;font-size:16px;border-radius:5px;padding:4px;padding-left:20px;margin-bottom:8px;}
#navi{ font-family:Palatino Linotype; font-size:25px; color:#000000; }
#navi:hover{ color:rgb(255, 0, 102); }
#fours{ font-family:Palatino Linotype; font-size:25px; font-weight:bold; }
#fours:hover{ color:rgb(255, 179, 209);}
#name{ background-image:url('pppp.jpg'); height:900px; width:100%; padding-top:50px; padding-bottom:40px; }
#radio{ background-color:#ffffff; height:800px; width:700px; }

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px;  color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }




#morel{ margin-bottom:50px; border-radius:solid; }
.flip-box { background-color: none;width:300px; height:300px; border:none; margin-right:10px; margin-top:10px; padding:0; margin-bottom:10px; }
.flip-box-inner { position:relative; width:300; height:300px; text-align:center; margin-right:10px; border:none; transition:transform 0.8s; transform-style:preserve-3d; }
.flip-box:hover .flip-box-inner {transform:rotateY(180deg); border:none; }
.flip-box-front, .flip-box-back { position:absolute; width:300px; height:300px;-webkit-backface-visibility:hidden; backface-visibility:hidden; border:none; }
.flip-box-front {background-color:none; color:none; border:none; border-radius: 50%; }
.flip-box-back {background-color:none; color:none; transform:rotateY(180deg); border:none;}
#printed{ font-size:20px; font-weight:bold; text-align:center; font-family:Palatino Linotype;  margin-top:0;  padding:20px;}
#printed:hover{  color:rgb(0, 153, 0); }


input[type=text], select, textarea{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}






.well-block {
    background-color: #fff;
    border: 1px solid #e9e6e8;
    padding: 40px;
}

.well-title {
    margin-bottom: 40px;
}



.hovereffect {
  width: 100%;
  height: 70%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 55%;
  height: 45%;
  left: 22%;
  top: 10%;
  border-radius: 80%;
  border: 2px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%,50%,0);
  transform: translate3d(50%,50%,0);
}

.hovereffect:hover .overlay {
  background-color: rgba(0,0,0,0.3);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(1.4);
  -webkit-filter: brightness(1.4);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2, .hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.button {
  background-color: #77b300;
  border:10px;
  color: black;
  padding-bottom:20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 18px;
}

section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}




body {
    font-family: Monotype Corsiva;
	
}
#container {
    background: #99ffd6;
    max-width: 1550px;
}
.item {
    width: 300px;
    float: left;
}
.item img {
    display: block;
    width: 100%;
}
.container{
    width:100%;
}





.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}





/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  height:50px;
  width: 50%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}


.servicescategory{margin-bottom:50px; text-align:center;}










.thumbnail{
	position: relative;
	padding: 0px;
	margin-bottom: 20px;
}
.thumbnail>h4{
	padding: 7px 5px 0px;
	white-space: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumbnail h4.info {
	position: absolute;
	top:0px;
	right: 0px;
	font-size:0.6em;
	padding-left: 15px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 4px;
	border-radius: 0px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}
.thumbnail h4.info > span{
	margin-right: 10px;
}
.thumbnail img{
	width: 100%;
	height: 600px;
}
.thumbnail a.btn{
	border-top-left-radius: 0px;
	border-top-right-radius: opx;
}

button1 {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  height:35px;
  width: 35%;
}
